@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: red;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
}
.progress__bar--container {
  display: flex;
  margin: 1rem;
  width: 30rem;
  height: 5rem;
  background: rgba(155, 155, 155, 0.578);
}
.puzzle-piece {
  transition: transform 0.3s ease-in-out;
}
.progress__bar,
.quater__bar,
.half__bar,
.full__bar {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  background: green;
}
.quater__bar {
  width: 10rem;
}
.half__bar {
  width: 20rem;
}

.full__bar {
  width: 30rem;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.game__board--container {
  width: 600px;
  height: 500px;
  border: 3px solid black;
  background: rgb(205, 205, 212);
}
.game__board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  margin-left: 2rem;
}
.puzzle-piece {
  margin: 5px;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  color: rgba(245, 222, 179, 0.977);
}
.blue__field {
  width: 100px;
  height: 100px;
  background: blue;
}
.red__field {
  width: 100px;
  height: 100px;
  background: red;
}
.yellow__field {
  width: 100px;
  height: 100px;
  background: yellow;
}
.green__field {
  width: 100px;
  height: 100px;
  background: green;
}
.empty__field {
  width: 100px;
  height: 100px;
}
